@use '../custom';

// en boostrap hay que ser redundantes 
// en sas se pueden poner los hijos dentros de los padres

.header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  @include custom.media-breakpoint-up(md) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  span {
    font-size: 4rem;
    font-family: 'Pacifico', cursive ;
    width: 10rem;
  }
}

span {
  font-size: 2.6rem;
  font-family: 'Pacifico', cursive ;
  width: 10rem;
}

