$cafe: #742020;
$cafeClaro:  #92624a;
$colorLinkedin: #0A66C2;

// asignar a la paleta de colores de boostrap

$primary: $cafe;
$secondary: $cafeClaro; 
$info:$colorLinkedin;

// tipografia

$display-font-weight: 900;
$heading-font-weight: 700; 

// card

$card-border-color: transparent;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';